<h1>Gallery</h1>
<div class="card1">
  <img src="/assets/tn.jpg" alt="Your Photo" class="card1__photo">
  
    <!-- Card content -->
    <div class="card1__content">
  
      <!-- Card title -->
      <p class="card1__title">Tamil Nadu</p>
  
      <!-- Card description -->
      <p class="card1__description">
        Known for its vibrant traditions, state with diversity of art, music, and dance forms. With a rich history that includes the ancient Chola and Pallava dynasties 
      </p>
    </div>
</div>
<br>

<div class="card2">
    <!-- SVG icon -->
    <img src="/assets/assam.jpg" alt="Your Photo" class="card2__photo">
  
    <!-- Card content -->
    <div class="card2__content">
      <!-- Insert your desired photo using the <img> tag -->
      
  
      <!-- Card title -->
      <p class="card2__title">Assam</p>
  
      <!-- Card description -->
      <p class="card2__description">
        Known for its rich biodiversity, tea plantations, and the mighty Brahmaputra River.
      </p>
    </div>
</div>
<br>

<div class="card3">
    <!-- SVG icon -->
    <img src="/assets/goa.jpg" alt="Your Photo" class="card3__photo">
  
    <!-- Card content -->
    <div class="card3__content">
      <!-- Card title -->
      <p class="card3__title">Goa</p>
  
      <!-- Card description -->
      <p class="card3__description">
        known for its stunning beaches, rich cultural heritage, vibrant nightlife, palm-fringed shores, historic churches, and a fusion of Indian and Portuguese influences.       
      </p>
    </div>
</div>
<br>

<div class="card4">
    <!-- SVG icon -->
    <img src="/assets/kerala.jpg" alt="Your Photo" class="card4__photo">
  
    <!-- Card content -->
    <div class="card4__content">
      <!-- Insert your desired photo using the <img> tag -->
      
  
      <!-- Card title -->
      <p class="card4__title">Kerala</p>
  
      <!-- Card description -->
      <p class="card4__description">
        God's Own Country. Known for its landscapes, backwaters, cultural heritage, and diverse wildlife.
      </p>
    </div>
</div>
<br>

<div class="card5">
  <!-- SVG icon -->
  <img src="/assets/uttarpradesh.jpg" alt="Your Photo" class="card5__photo">

  <!-- Card content -->
  <div class="card5__content">
    <!-- Card title -->
    <p class="card5__title">Uttar Pradesh</p>

    <!-- Card description -->
    <p class="card5__description">
      Known for its rich historical and cultural heritage, encompassing iconic landmarks such as the Taj Mahal in Agra and Varanasi.       
    </p>
  </div>
</div>
<br>

<div class="card6">
  <!-- SVG icon -->
  <img src="/assets/andaman.jpg" alt="Your Photo" class="card6__photo">

  <!-- Card content -->
  <div class="card6__content">
    <!-- Card title -->
    <p class="card6__title">Andaman and Nicobar Islands</p>

    <!-- Card description -->
    <p class="card6__description">
      Known for its pristine white-sand beaches, diverse marine life, and lush tropical forests.       
    </p>
  </div>
</div>



